<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Карпатські вироби з дерева</title>
<meta name="keywords" content="Вироби з карпат,Вироби з дерева,Вироби ручної роботи"/>
<meta name="description" content="" />
<link href="{{static_url('css/templatemo_style.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{static_url('css/nivo-slider.css')}}" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{static_url('css/ddsmoothmenu.css')}}" />
<script type="text/javascript" src="{{static_url('js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/ddsmoothmenu.js')}}"></script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "top_nav",
	orientation: 'h',
	classname: 'ddsmoothmenu',
	contentsource: "markup"
})

</script>

</head>
