	<div id="templatemo_header">
    	<div id="site_title"><h1><a href="#">Вироби з дерева ручної роботи</a></h1></div>
        <div id="header_right">
        	<p>
	        <a href="#">Профіль</a> | <a href="#">Покупки</a> | <a href="#">Повідомлення</a> | <a href="#">Увійти</a></p>
            <p>
            	Кошик: <strong>3000 грн</strong> ( <a href="shoppingcart.html">Показати кошик</a> )
			</p>
		</div>
        <div class="cleaner"></div>
    </div>

    <div id="templatemo_menubar">
    	<div id="top_nav" class="ddsmoothmenu">
            <ul>
                <li><a href="index.html" class="selected">Головна</a></li>
                <li><a href="products.html">Товари</a>
                    <ul>
                        <li><a href="#submenu1">Підменю 1</a></li>
                        <li><a href="#submenu2">Підменю 2</a></li>
                        <li><a href="#submenu3">Підменю 3</a></li>
                        <li><a href="#submenu4">Підменю 4</a></li>
                        <li><a href="#submenu5">Підменю 5</a></li>
                  </ul>
                </li>
                <li><a href="about.html">Акції</a>
                    <ul>
                        <li><a href="#submenu1">Підменю 1</a></li>
                        <li><a href="#submenu2">Підменю 2</a></li>
                        <li><a href="#submenu3">Підменю 3</a></li>
                  </ul>
                </li>
                <li><a href="about.html">Про нас</a></li>
                <li><a href="faqs.html">Питання та відповіді</a></li>
                <li><a href="contact.html">Звязатися з нами</a></li>
            </ul>
            <br style="clear: left" />
        </div>
        <div id="templatemo_search">
            <form action="#" method="get">
              <input type="text" value=" " name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
              <input type="submit" name="Search" value=" " alt="Search" id="searchbutton" title="Search" class="sub_btn"  />
            </form>
        </div>
    </div>