    	<div id="sidebar" class="float_l">
        	<div class="sidebar_box"><span class="bottom"></span>
            	<h3>Категорії</h3>
                <div class="content">
                	<ul class="sidebar_list">
                    	<li class="first"><h6><a href="#">Прикраси</a></li>
                        <li><h6><a href="#">Шкатулки</a></h6></li>
                        <li><h6><a href="#">Копілки</a></h6></li>
                        <li><h6><a href="#">Ножі</a></h6></li>
                        <li><h6><a href="#">Годинники</a></h6></li>
                        <li><h6><a href="#">Підсвічники</a></h6></li>
                        <li><h6><a href="#">Люльки</a></h6></li>
                        <li><h6><a href="#">Настільні ігри</a></h6></li>
                        <li><h6><a href="#">Статуетки</a></h6></li>
                        <li><h6><a href="#">Новорічні сувеніри</a></h6></li>
                        <li><h6><a href="#">Картини</a></h6></li>
                        <li><h6><a href="#">Значки</a></h6></li>
                        <li><h6><a href="#">Кераміка</a></h6></li>
                        <li class="last"><h6><a href="#">Свистки</a></h6></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar_box"><span class="bottom"></span>
            	<h3>Лідери продажу</h3>
                <div class="content">
                	<div class="bs_box">
                    	<a href="#"><img src="{{static_url('images/product/04.png')}}" width="60px" alt="image" /></a>
                        <h4><a href="#">Оберіг на щастя</a></h4>
                        <p class="price">10грн</p>
                        <div class="cleaner"></div>
                    </div>
                    <div class="bs_box">
                    	<a href="#"><img src="{{static_url('images/product/06.png')}}" width="60px" alt="image" /></a>
                        <h4><a href="#">Дерев'яний молоток</a></h4>
                        <p class="price">12грн</p>
                        <div class="cleaner"></div>
                    </div>
                    <div class="bs_box">
                    	<a href="#"><img src="{{static_url('images/product/01.png')}}" width="60px" alt="image" /></a>
                        <h4><a href="#">Юла</a></h4>
                        <p class="price">20грн</p>
                        <div class="cleaner"></div>
                    </div>
                    <div class="bs_box">
                    	<a href="#"><img src="{{static_url('images/product/02.png')}}" width="60px" alt="image" /></a>
                        <h4><a href="#">Вказівка</a></h4>
                        <p class="price">8грн</p>
                        <div class="cleaner"></div>
                    </div>
                </div>
            </div>
        </div>
